@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;


* {
	font-family: 'Roboto', sans-serif;
}
button.fancy {
	-webkit-appearance: button;
	background-color: white;
	border: 2px solid #000;
	border-radius: 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-weight: 600;
	letter-spacing: .05em;
	margin: 0;
	outline: none;
	overflow: visible;
	padding: 1.25em 2em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	transition: all .3s ease-in-out;
	user-select: none;
	width: 11rem;
}
button.fancy p {
	font-size: 1.125em;
	line-height: 1.33333em;
	display: block;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
}
button.fancy .top-key {
	height: 2px;
	width: 1.5625rem;
	top: -2px;
	left: 0.625rem;
	position: absolute;
	background: white;
	-webkit-transition: width 0.5s ease-out, left 0.3s ease-out;
	transition: width 0.5s ease-out, left 0.3s ease-out;
}
button.fancy .bottom-key-1 {
	height: 2px;
	width: 1.5625rem;
	right: 1.875rem;
	bottom: -2px;
	position: absolute;
	background: white;
	-webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
	transition: width 0.5s ease-out, right 0.3s ease-out;
}
button.fancy .bottom-key-2 {
	height: 2px;
	width: 0.625rem;
	right: 0.625rem;
	bottom: -2px;
	position: absolute;
	background: white;
	-webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
	transition: width 0.5s ease-out, right 0.3s ease-out;
}
button.fancy:hover {
	color: white;
	background: black;
}
button.fancy:hover::before {
	width: 0.9375rem;
	background: white;
}
button.fancy:hover p {
	color: white;
	padding-left: 1.5em;
}
button.fancy:hover .top-key {
	left: -2px;
	width: 0px;
}
button.fancy:hover .bottom-key-1,
button.fancy:hover .bottom-key-2 {
	right: 0;
	width: 0;
}
